<h1 class="title">
  Welcome, {{ name }}!
</h1>
<h3 class="title">Enter your Instagram information</h3>
<form action="/add-instagram" method="POST" >
    <input type="text" name="instagram_username" placeholder="Instagram username" autofocus="">
    <input type="password" name="instagram_password" placeholder="Instagram password">
    <button type="submit">Done</button>
</form>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
    {% endif %}
{% endwith %}
{% for account in instagram_accounts %}
    <ul>
        <li>Username: {{ account.instagram_username }}</li>
        <li>Password: {{ account.instagram_password }}</li>
        <li>User: {{ account.user_id }}</li>
    </ul>
{% endfor %}




<a href="{{ url_for('auth.logout') }}">Logout</a>
